<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NYT Headlines</title>
    <meta name="description" content="See all A/B-tested NYT headlines" />

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%231f2937%22></rect><path fill=%22%23fff%22 d=%22%22></path></svg>" />

    <style>
      body {
        color: #4B5563;
        max-width: 680px;
        margin: 0 auto;
        padding: 16px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
      }

      h1,h2,h3,h4,h5,h6 {
        color: #111827;
      }

      li + li {
        margin-top: 8px;
      }

      footer {
        text-align: center;
        padding: 24px 0;
      }

      summary>h2, summary,h4 {
        display: inline-block;
        cursor: pointer;
      }

      .headline-details {
        padding-left: 20px;
        border-left: 5px solid rgba(0, 0, 0, 0.1);
      }

      #search {
        width: 100%;
        padding: 8px;
      }

      .autocomplete {
        background-color: white;
      }

      .autocomplete div {
        padding: 8px;
        cursor: pointer;
      }

      .autocomplete div:hover {
        background-color: #F3F4F6;
      }
    </style>
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="https://kraaden.github.io/autocomplete/autocomplete.js"></script>
    <script>
      window.COLORS = JSON.parse('<%- JSON.stringify(COLORS) %>');
    </script>
