<%- include('../partials/header') %>
    <h2 style="margin-bottom: 0;">Front page (<%= articles.length %>)</h2>
    <p>All headlines currently on the NYT homepage.</p>
    <% articles.forEach((article) => { %>
      <%- include('../partials/articleSummary', { article }) %>
    <% }); %>
<%- include('../partials/footer') %>
