<%- include('../partials/header') %>
    <h2 style="margin-bottom: 0;">Front page</h2>
    <p><%= articles.length %> headlines from the current the NYT homepage.</p>
    <% articles.forEach((article) => { %>
      <%- include('../partials/articleCard', { article }) %>
    <% }); %>
<%- include('../partials/footer') %>
