<%- include('../partials/header') %>
    <h2>Top headlines</h2>
    <p>The 20 most-viewed headlines right now.</p>
    <% articles.sort((a, b) => a.rank - b.rank).forEach((article) => { %>
      <%- include('../partials/articleSummary', { article }) %>
    <% }); %>
<%- include('../partials/footer') %>
