<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NYT Headlines</title>
    <meta name="description" content="See all A/B-tested NYT headlines" />

    <style>
      body {
        max-width: 780px;
        margin: 0 auto;
        padding: 16px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
      }

      summary>h2 {
        display: inline-block;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

    <h1>NYT Headlines</h1>
    <% const abTestedArticles = articles.filter(a => a.headlines.length > 1); %>
    <% const regularArticles = articles.filter(a => a.headlines.length === 1); %>
    <details open>
      <summary><h2>A/B Tested (<%= abTestedArticles.length %>)</h2></summary>
      <% abTestedArticles.forEach((article) => { %>
        <%- include('../partials/article', { article }) %>
      <% }); %>
    </details>
    
    <details>
      <summary><h2>Regular (<%= regularArticles.length %>)</h2></summary>
      <% regularArticles.forEach((article) => { %>
        <%- include('../partials/article', { article }) %>
      <% }); %>
    </details>
  </body>
</html>
