<%- include('../partials/header') %>
    <h2>Most emailed articles</h2>
    <p>The top 20 most-emailed NYT articles, right now.</p>
    <% articles.forEach((article) => { %>
      <%- include('../partials/articleCard', { article }) %>
    <% }); %>
<%- include('../partials/footer') %>
