<%- include('../partials/header') %>
<div class="row">
  <div class="col">
    <h2 style="font-weight: 400;">Results for <strong><%= query %></strong></h2>
    <% results.forEach((article) => { %>
      <%- include('../partials/articleCard', { article }) %>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>
